/* START BASIC CONFIG */
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:checked {
    text-decoration: none;
    color: inherit;
}

body {
    color: #707070;
    font-family: FontAwesome, 'Lato', sans-serif;
    background-image: url('../img/dust_scratches.png');
}

main {
    width: 1000px;
    margin: 0 auto;
    /*border: 1px dotted black;*/
}

.footer-position {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    height: 100px;
    border: 1px dotted black;
    text-align: center;
    font-size: 2rem;
}
/* END BASIC CONFIG */


/* START LOGIN BOX */
.login-page-container {
    /*border: 1px dotted black;*/
    margin-top: 100px;
}

.login-brand {
    text-align: center;
}

.login-container {
    width: 300px;
    height: 320px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px auto 0 auto;
    text-align: center;
    padding-top: 10px;
}

.login-container > h1 {

}

.login-box-field {
    width: 260px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 2.5rem;
    color: #707070;
    padding: 5px;
    border: 1px solid #B3B3B3;
}

.login-box-field:focus {
    border: 1px solid #2A83C7;
}

input[type='checkbox'] {
    outline: 0;
}

.remember-me {
    font-size: 1.6rem;
    /*border: 1px dotted black;*/
    text-align: left;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.login-button {
    margin-top: 10px;
    background-color: #2A83C7;
    line-height: 1px;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    border: none;
}

.login-button:hover {
    background-color: #3493DB;
}

.login-problem {
    font-size: 1.6rem;
    margin-top: 5px;
    color: #707070;
}

.login-invalid-credentials {
    font-size: 1.4rem;
    color: red;
}
/* END LOGIN BOX */


