html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    color: #707070;
    font-family: 'Lato', sans-serif;
    background-image: url('../img/dust_scratches.png');
}

main {
    width: 1000px;
    margin: 0 auto;
    /*border: 1px dotted black;*/
}

a:link, a:visited, a:checked {
    text-decoration: none;
    color: inherit;
}

/* START TOP BAR */
.logo {
    position: absolute;
    left: 0;
    top: 20px;
}

.top-bar {
    background-color: #FBFBFB;
    border-bottom: 1px solid #707070;
}

.top-content {
    width: 1140px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.navbar-position {
    position: absolute;
    bottom: -2px;
    padding: 0 !important;
    margin: 0 !important;
    width: 400px;
    /*height: 30px;*/
}

.nav-item:last-child {
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*margin-right: 20px;*/
}

.nav-item-underscore {
    border-bottom: 3px solid rgb(0, 123, 255);
}

.nav-item-underscore > .nav-link {
    color: rgb(0, 123, 255) !important;
}

.user-avatar {
    width: 140px;
    height: 145px;
    /*margin: 0 auto;*/
    padding-top: 5px;
    display: inline-block;
    /*border: 1px solid black;*/
}

.user-menu {
    position: relative;
    display: inline-block;
    /*border: 1px dotted black;*/
    width: 0;
    height: 0;
    top: 10px;
    left: 10px;
    vertical-align: top;
}

.user-control {
    font-size: 1.6rem;
    text-align: left;
    display: inline-block;
    /*position: absolute;*/
    width: 120px;
    /*border: 1px dotted black;*/
}

.user-name {
    font-size: 2.1rem;
    width: 320px;
    color: #3A3A3A;
}

.user-settings {
    color: #4A4A4A;
}

.user-messages {
    color: #4A4A4A;
}

.user-logout {
    color: #E61212;
    margin-top: 10px;
    z-index: 1;
}

/* END TOP BAR */


/* START BOOTSTRAP SELF-CONFIG*/
.nav-link {
    font-size: 2rem;
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.nav-link:hover {
    color: rgb(0, 123, 255) !important;
}

/* END BOOTSTRAP SELF-CONFIG */

/* STAR FOOTER */
.footer-position {
    position: absolute;
    bottom: 0;
    left: 0;
}

footer {
    height: 100px;
    border: 1px dotted black;
    text-align: center;
    font-size: 2rem;
}
/* END FOOTER */

/* START MAIN CONTENT OF ACCOUNTS */
.your-accounts {
    margin-top: 15px;
}

.user-account {
    height: 60px;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    padding: 0px 5px 0px 5px;
    background-color: #BDE2F5;
    color: #3D3D3D;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-account-expanded {
    height: 200px;
}

.user-account:hover {
    background-color: #C9EBFC;
    cursor: pointer;
}

.user-account-type {
    position: absolute;
    top: 2px;
    font-size: 1.2rem;
}

.user-account-number {
    position: absolute;
    top: 20px;
    font-size: 1.4rem;
}

.user-account-balance {
    position: absolute;
    right: 120px;
    top: 20px;
    font-size: 1.5rem;
}

.user-account-available-funds {
    position: absolute;
    right: 5px;
    top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}
/* END MAIN CONTENT OF ACCOUNTS */