<div class="user-data-info user-password">
    <p>
        <i class="fas fa-home"></i>
        Hasło do logowania
    </p>
    <p>
        ************
        <br>
        <button class="edit-user-data-btn" type="button">Zmień hasło</button>
    </p>
</div>
