{% extends 'base.html.twig' %}

{% block title %}Free Bank - przelew krajowy{% endblock %}
{% block body %}
<main>
    <div class="container-transfer">
        <div class="transfer-type normal-transfer nav-item-underscore">Przelew jednorazowy</div>
        <div class="transfer-type periodic-transfer">Przelew cykliczny</div>

        {{ form_start(transferFinalizeForm) }}
            {{ form_widget(transferFinalizeForm) }}
            {% for error in transferFinalizeForm.verificationCode.vars.errors %}
                <p>{{ error.message }}</p>
            {% endfor %}
            <button type="submit" class="send-transfer-btn">Wyślij przelew</button>
        {{ form_end(transferFinalizeForm) }}

    </div>
</main>
{% endblock %}