{% extends 'base.html.twig' %}

{% block title %}Free Bank - przelew{% endblock %}

{% block body %}
    <main>
        <div class="container-transfer">
            <div class="transfer-type normal-transfer nav-item-underscore">Przelew jednorazowy</div>
            <div class="transfer-type periodic-transfer">Przelew cykliczny</div>
            <ul class="transfer-options">
                <li class="col-3 transfer-option domestic-transfer">
                    <i class="fas fa-user-alt"></i>
                    <span>Do osoby lub firmy</span>
                </li>
                <li class="col-3 transfer-option own-transfer">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Na własne konto</span>
                </li>
                <li class="col-3 transfer-option zus-transfer">
                    <i class="fas fa-hourglass-half"></i>
                    <span>Do ZUS-u</span>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}
