{% extends 'base.html.twig' %}

{% block title %}Free Bank - przelew{% endblock %}

{% block body %}
    <main>
        <div class="container-transfer">
            <div class="transfer-type normal-transfer nav-item-underscore">Przelew jednorazowy</div>
            <div class="transfer-type periodic-transfer">Przelew cykliczny</div>
            {% if bankAccount|length == 0 %}
                <div>Nie możesz wykonać przelewu, ponieważ nie posiadasz żadnego rachunku bankowego</div>
            {% else %}
                <div class="transfer-options">
                    <a href="{{ path('app_transfer_domestic') }}">
                        <div class="transfer-option domestic-transfer">
                            <i class="fas fa-user-alt"></i>
                            <span>Do osoby lub firmy</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="transfer-option own-transfer">
                            <i class="fas fa-exchange-alt"></i>
                            <span>Na własne konto</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="transfer-option zus-transfer">
                            <i class="fas fa-hourglass-half"></i>
                            <span>Do ZUS-u</span>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
