<h1 class="user-settings-content-header">
    <i class="fas fa-user-edit"></i>
    Twoje dane
</h1>
<div class="user-data-info address-permanent">
    <p>
        <i class="fas fa-home"></i>
        Adres zameldowania
    </p>
    <p>
        ul. Błażka 4/66
        <br>
        88-100 Inowrocław
        <br>
        Polska
    </p>
</div>
<div class="user-data-info address-permanent">
    <p>
        <i class="fas fa-home"></i>
        Adres korespondencyjny
    </p>
    <p>
        ul. Karpacka 39B/70
        <br>
        85-164 Bydgoszcz
        <br>
        Polska
        <br>
        <button class="edit-user-data-btn" type="button">Modyfikuj</button>
    </p>
</div>
<div class="user-data-info address-permanent">
    <p>
        <i class="fas fa-envelope"></i>
        Adres e-mail
    </p>
    <p>
        kozupa.jakub@gmail.com
        <br>
        <button class="edit-user-data-btn" type="button">Modyfikuj</button>
    </p>
</div>