{% extends 'base.html.twig' %}

{% block title %}Ustawienia{% endblock %}

{% block body %}
    <main>
        <div class="user-settings-container">
            <section class="user-settings-options">
                <div class="user-settings-option" id="settings-user-data-bar">
                    <i class="fas fa-user-edit"></i>
                    Twoje Dane
                </div>
                <div class="user-settings-option" id="settings-security-bar">
                    <i class="fas fa-lock"></i>
                    Bezpieczeństwo
                </div>
            </section>
            <section class="user-settings-content-container">
                <div class="loading">
                    <img src="{{ asset('img/loading.gif') }}" width="150px" height="150px" alt="Ładowanie">
                </div>
                <h1 class="user-settings-content-header">
                    <i class="fas fa-home"></i>
                    Ustawienia
                </h1>
                <div class="user-settings-content">
                    {% block content %}
                    Wybierz kategorię po lewej stronie
                    {% endblock %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/user-settings.js') }}"></script>
{% endblock %}
